*.pyc
*.pyo
/_trial_temp
/build
/.tox
/doc/addressbook-session
/doc/addressbook-slides
/doc/api
/doc/ldap-intro
/doc/addressbook-ldif
/doc/*.dia.png
/ldaptor/test/ldif/webtests.tmp
ldaptor.test.*
ldaptor.egg-info
.idea
.coverage
