include *.rst
include *.txt
include .travis.yml
exclude .readthedocs.yml
include LICENSE
include docs/source/examples/ldif2ldif
include ldaptor.schema
include test-ldapserver.tac
recursive-include docs *.cfg
recursive-include docs *.conf
recursive-include docs *.dia
recursive-include docs *.keep
recursive-include docs *.ldif
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.schema
recursive-include docs *.tac
recursive-include docs *.txt
recursive-include docs *.xhtml
recursive-include docs Makefile
recursive-include docs/source/examples/addressbook run
recursive-include docs/source/examples/addressbook summary
recursive-include ldaptor *.ldif

# This is only needed by CI when reporting coverage.
exclude codecov.yml

# This is only needed by GitHub.
exclude docs/PULL_REQUEST_TEMPLATE.md

# This is only needed for dev purporse.
exclude .coveragerc
prune docs/build/html
prune ldaptor/test/ldif/webtests.tmp
