#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_COMPRESS_EXCLUDE := .py .js
DEB_DH_INSTALL_SOURCEDIR := debian/python2.3-ldaptor
DEB_DH_ALWAYS_EXCLUDE := .svn

$(patsubst %,binary-post-install/%,$(DEB_PYTHON_REAL_LIB_PACKAGES)):: binary-post-install/python%-ldaptor:
	PYTHONPATH='debian/$(cdbs_curpkg)/usr/lib/python$(patsubst python%-ldaptor,%,$(cdbs_curpkg))/site-packages' \
		'trial$(patsubst python%-ldaptor,%,$(cdbs_curpkg))' --text --tbformat=emacs -R ldaptor

build/ldaptor-doc::
	make -C doc

binary-post-install/ldaptor-utils::
	rm -rf debian/ldaptor-utils/usr/bin/ldaptor-webui

binary-post-install/python2.3-ldaptor:: binary-install/ldaptor-utils binary-install/ldaptor-webui binary-install/ldaptor-common
	rm -rf \
		debian/python2.3-ldaptor/usr/bin \
		debian/python2.3-ldaptor/usr/lib/python2.3/site-packages/ldaptor/apps/webui \
		debian/python2.3-ldaptor/usr/share/locale

binary-post-install/ldaptor-common::
	find debian/ldaptor-common/usr/share/locale \
		-name '*.mo' \
		-a \! -name 'ldaptor.mo' \
		-print0 \
	| xargs -0 --no-run-if-empty rm --

binary-post-install/ldaptor-webui::
	find debian/ldaptor-webui/usr/share/locale \
		-name '*.mo' \
		-a \! -name 'ldaptor-webui.mo' \
		-print0 \
	| xargs -0 --no-run-if-empty rm --

clean::
	find . -type f -name '*.pyc' -print0 \
	| xargs -0 --no-run-if-empty rm --
	make -C doc clean
	rm -rf _trial_temp
