#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#the exchange is intentionnal, we will hook dh_pysupport ourselves
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_COMPRESS_EXCLUDE := .py .js
DEB_DH_INSTALL_SOURCEDIR := debian/python-ldaptor
DEB_DH_ALWAYS_EXCLUDE := .svn

# see http://bugs.debian.org/295906
cdbs_python_ver = $(shell pyversions -dv)

#binary-install/python-ldaptor::
#	PYTHONPATH='debian/$(cdbs_curpkg)/usr/lib/python$(cdbs_python_ver)/site-packages' \
#		trial --tbformat=emacs --reporter=text ldaptor

build/ldaptor-doc::
	make -C doc

binary-post-install/python-ldaptor:: binary-install/ldaptor-utils binary-install/ldaptor-webui
	rm -rf \
		debian/$(cdbs_curpkg)/usr/bin \
		debian/$(cdbs_curpkg)/usr/lib/python*/site-packages/ldaptor/apps/webui \
		debian/$(cdbs_curpkg)/usr/lib/python*/site-packages/ldaptor/test/test_webui.py
	find debian/$(cdbs_curpkg)/usr/share/locale \
		-name '*.mo' \
		-a \! -name 'ldaptor.mo' \
		-print0 \
	| xargs -0 --no-run-if-empty rm --
	dh_pysupport -p$(cdbs_curpkg)

binary-post-install/ldaptor-utils::
	rm -rf debian/$(cdbs_curpkg)/usr/bin/ldaptor-webui
	dh_pysupport -p$(cdbs_curpkg)

binary-post-install/ldaptor-webui::
	find debian/$(cdbs_curpkg)/usr/share/locale \
		-name '*.mo' \
		-a \! -name 'ldaptor-webui.mo' \
		-print0 \
	| xargs -0 --no-run-if-empty rm --
	dh_pysupport -p$(cdbs_curpkg)

clean::
	find . -type f -name '*.pyc' -print0 \
	| xargs -0 --no-run-if-empty rm --
	make -C doc clean
	rm -rf _trial_temp
